/* Basic styling for the header */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(10px) !important;
    padding-top: 25px !important;
    padding-bottom: 20px !important;
}